<div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-1">
          <div class="txt">
            <h1 style="text-transform: uppercase;">Achievements</h1>
            <p>Awarded as ‘Accenture Celebrates Excellence (ACE) Award’ for UI development</p>
          </div>
          <div class="ico-card">
          <i class="fa fa-rebel"></i>
         </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-2">
          <div class="txt">
            <h1 style="text-transform: uppercase;">appreciation</h1>
            <p>Good Team Player, Gives his 100% on each of his task. Highly appreciated by Clients -Manager</p>
          </div>
        <div class="ico-card">
          <i class="fa fa-codepen"></i>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <h1 style="text-transform: uppercase;">Hobbies</h1>
            <p>Cricket</p>
          </div>
        <div class="ico-card">
          <i class="fa fa-empire"></i>
        </div>
        </div>
      </div>
      
    </div>
</div>