<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<ul class="timeline">
				<li>
					<a href="#">B.E Computer Science</a>
					<a href="#" class="float-right">2013-2017</a>
                    <ul class="list-group">
                        <li class="list-item">
                            Institute: Dayanada Sagar College of Engineering, Bangalore.
                        </li>
                        <li class="list-item">
                            Specialization: Computer Science
                        </li>
                    </ul>
				</li>
				<li>
					<a href="#">2nd PUC</a>
					<a href="#" class="float-right">2011-2013</a>
					<ul class="list-group">
                        <li class="list-item">
                            Institute: St.Josephs College, Bangalore.
                        </li>
                        <li class="list-item">
                            Specialization: Computer Science
                        </li>
                    </ul>
				</li>
				<li>
					<a href="#">SSLC</a>
					<a href="#" class="float-right">2001-2011</a>
					<ul class="list-group">
                        <li class="list-item">
                            Institute: Christ The King School, Bangalore.
                        </li>
                    </ul>
				</li>
			</ul>
		</div>
	</div>
</div>