<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<ul class="timeline">
				<li>
					<a href="#">Openreach Chat Solution</a>
					<a href="#" class="float-right">Jan, 2019 - till Date</a>
                    <ul class="list-group">
                        <li class="list-item">
                            Primarily responsible for the development and maintenance of the custom-built Analytics which is a used as key part of business to take decisions on fly
                        </li>
                        <li class="list-item">
                            Developing and Customizing UI as per the business requirements
                        </li>
                    </ul>
				</li>
				<li>
					<a href="#">Data Intelligence Suite</a>
					<a href="#" class="float-right">Jan 2018 - Jan 2019</a>
					<ul class="list-group">
                        <li class="list-item">
                            Primary responsibility was to consume API and Display the Data in Tabular format.
                        </li>
                        <li class="list-item">
                            To provide interactive client-side validations for better UI.
                        </li>
                    </ul>
				</li>
				<li>
					<a href="#">Eiva</a>
					<a href="#" class="float-right">Nov 2017 - Mar 2018</a>
					<ul class="list-group">
                        <li class="list-item">
                            R&D on improving the Application like integration of voice call and microservices
                        </li>
                    </ul>
				</li>
			</ul>
		</div>
	</div>
</div>