/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
   background-color: #ededed;
}
button:focus{
    box-shadow: none !important;
}
a:focus{
    box-shadow: none !important;
}